<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
